.card-body {
  background-color: pink;
}

.numWatched {
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: plum;
  cursor: default;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: solid thin rgb(100, 0, 100);
  background-color: black;
}